body {
    background-color: bisque;
}

.header {
    display: block;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.header-image {
    height: 70px;
    display: block;
}

.center {
    margin-left: 40%;
    margin-right: auto;
    overflow: hidden;
}


#right{
    float: right;
}

#left{
    float: left;
}

.btn {
    display: block;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
}

form .row {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
}

form h3 {
    padding: 15px;
}

h3 {
    text-align: center;
}

input {
    display: inline;
}

.col-xs-3 {
    text-align: left;
}