@using Parcel.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
        <h1>Parcel/Index.cshtml</h1>
        <h1>Here are your packages: </h1>
        <ul>
          @foreach (Package package in Model)
          {
            <li>@package.Recipient</li>
          }
        </ul>
        <a href='/'><button>Add another package</button></a>
    </div>
  </body>
</html>