<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
        <h1>Home/Index.cshtml</h1>


          <h1>Enter your parcel information:</h1>
          <form action="/parcels/order-details" method="post">

            <label for="recipient">Enter a Recipient:</label>
            <input id="recipient" name="recipient" type="text"><br>

            <label for="height">Enter a Height:</label>
            <input id="height" name="height" type="text"><br>

            <label for="width">Enter a Width:</label>
            <input id="width" name="width" type="text"><br>

            <label for="length">Enter a Length:</label>
            <input id="length" name="length" type="text"><br>

            <label for="weight">Enter a Weight:</label>
            <input id="weight" name="weight" type="text"><br>

          <button type="submit">Submit</button>
          </form>


    </div>
  </body>
</html>